<div *ngIf="calculatedDataView" class="popup-block main-popup" [style.htight]="addDataMode ? '300px' : '330px'" style="overflow: auto;">
    <div *ngIf="!addDataMode" class="step-block">
        <h4>{{'Step 1: Pick a chart:' | translate}}</h4>
        <div class="chartType">
            <label class="chart-label"><input type="radio" [name]="'chartTypeGroup'+format" (change)="setChartType('BubbleChart')" [value]="'BubbleChart'" [checked]="chartType === 'BubbleChart'"> {{'Bubbles' | translate}}</label>
            <label class="chart-label"><input type="radio" [name]="'chartTypeGroup'+format" (change)="setChartType('LineChart')" [value]="'LineChart'" [checked]="chartType === 'LineChart'"> {{'Lines' | translate}}</label>
            <label class="chart-label"><input type="radio" [name]="'chartTypeGroup'+format" (change)="setChartType('BarRankChart')" [value]="'BarRankChart'" [checked]="chartType === 'BarRankChart'"> {{'Rankings' | translate}}</label>
        </div>
    </div>

    <div class="step-block">
        <h4>{{'Step first: Choose how your data is arranged:' | translate:calculatedDataView}}</h4>
        <div *ngIf="addDataMode" class="desc"><span [innerHTML]="'limitation-content' | translate:calculatedDataView"></span>
            {{'Follow' | translate}} <a href="#" (click)="openURL('http://vizabi.org/tutorials/2017/04/04/join-your-data-with-g/')">{{'this tutorial' | translate}}</a>
        </div>
        <div>
            <label class="step-label"><input type="radio" [name]="'choiceGroup'+format" (change)="setChoice('rows')" [checked]="choice === 'rows'"> {{'Time goes down' | translate}}</label>
            <div *ngIf="!addDataMode" class="desc">{{'Column 1: entities, Column 2: time values, Column 3 and on: indicators' | translate}} (<a href="#" (click)="switchExampleRows()">{{'see example' | translate}}</a>)</div>
            <div *ngIf="addDataMode" class="desc"><span [innerHTML]="'columns-desc-content-indicators' | translate:calculatedDataView"></span> (<a href="#" (click)="switchExampleRows()">{{'see example' | translate}}</a>)</div>
        </div>
        <div *ngIf="isExampleRows" class="example-container"><img src="assets/images/templates/time-as-rows-example.png" class="example-image"></div>
        <div>
            <label class="step-label"><input type="radio" [name]="'choiceGroup'+format" (change)="setChoice('columns')" [checked]="choice === 'columns'"> {{'Time goes right' | translate}}</label>
            <div *ngIf="!addDataMode" class="desc"><span [innerHTML]="'columns-desc-content-time' | translate"></span> (<a href="#" (click)="switchExampleColumns()">{{'see example' | translate}}</a>)</div>
            <div *ngIf="addDataMode" class="desc"><span [innerHTML]="'columns-desc-content-time-values' | translate:calculatedDataView"></span> (<a href="#" (click)="switchExampleColumns()">{{'see example' | translate}}</a>)</div>
        </div>
        <div *ngIf="isExampleColumns" class="example-container"><img src="assets/images/templates/time-as-columns-example.png" class="example-image"></div>
    </div>

    <div class="step-block">
        <h4>{{'Step second: Pick a file:' | translate:calculatedDataView}}</h4>
        <div class="row-container">
          <div>
            <app-smart-path-selector [accept]="format === 'excel' ? '.xls, .xlsx' : '.csv'"
                                     [title]="format === 'excel' ? ts.instant('Choose Excel file') : ts.instant('Choose CSV file')"
                                     [(ngModel)]="data.result"
                                     (done)="onFileChanged($event)"></app-smart-path-selector>
          </div>
          <div *ngIf="!loadingSheetsTitle && worksheets.length > 0 && format==='excel'">
            <select type="string" [disabled]="worksheets.length < 2"  (change)="checkExcelHeader()" [(ngModel)]="sheet" class="form-control">
              <option *ngFor="let worksheet of worksheets" [ngValue]="worksheet">{{worksheet}}</option>
            </select>
          </div>
          <app-wait-indicator [title]="loadingSheetsTitle"></app-wait-indicator>
          <div *ngIf="!!badFormatHeader" class="bad-header">{{getTranslationKeyForBadFormatHeader() | translate:badFormatHeader}}</div>
          <div *ngIf="dataError" class="bad-header">{{'csv-excel-empty-data' | translate}}</div>
        </div>
    </div>

    <div class="step-block">
    <div>
      <div class="time-format-holder">
        <div class="time-format-block">
          <h4>{{'Optional' | translate}}</h4>
        </div>
      </div>
    </div>

    <div [ngClass]="addDataMode ? 'inactive-time-format' : ''">
        <div class="time-format-holder">
            <div class="time-format-block time-format-select">
                {{'Time values look like this:' | translate}}
                <select type="number" [disabled]="addDataMode" [(ngModel)]="timeFormat" class="form-control">
                    <option *ngFor="let currentTimeFormat of timeFormats" [ngValue]="currentTimeFormat">{{currentTimeFormat | translate}}</option>
                </select>
                {{timeFormatDescription[timeFormat].example}}
            </div>
        </div>
    </div>

    <div>
      <div class="row-container column-name-container">
        <label>
          <input type="checkbox" [(ngModel)]="hasNameColumn" (change)="nameColumnPositionChanged()">&nbsp;{{'Table has an extra column with nice looking names at position' | translate}}
        </label>&nbsp;
        <input [(ngModel)]="nameColumnPosition" [attr.disabled]="hasNameColumn === false ? '' : null" type="number" min="0" maxlength="3">&nbsp;&nbsp;
        (<a href="#" (click)="openURL('https://vizabi.org/tutorials/2017/04/10/nice-looking-names/')">{{'see examples here' | translate}}</a>)
      </div>
    </div>
    </div>
</div>

<div class="divider"></div>

<div class="popup-footer">
    <div class="btn-group" style="width: 100%">
        <div class="row bottom-row">
            <div class="col-sm-8" [ngClass]="{'col-sm-push-4': ls.isRtl()}">
                <div><a href="#" *ngIf="format === 'csv'" (click)="openURL('http://vizabi.org/tutorials/2017/04/03/show-your-data/')">{{'How to prepare and export a file from MS Excel' | translate}}</a></div>
                <div><a href="#" (click)="openURL('https://docs.google.com/document/d/1GEgBscyLSbAkiXbrDrixGDrlTG4DekuFETD5AQaRBvs')">{{'How to export a file from Google Docs' | translate}}</a></div>
                <div><a href="#" *ngIf="format === 'csv'" (click)="openURL('https://csvlint.io/')">{{'Online csv validator (a handy tool)' | translate}}</a></div>
                <div><a href="#" (click)="switchUseYourDataVisible()">{{'How do we use your data?' | translate}}</a><br><span *ngIf="useYourDataVisible">{{'— We don\'t. Everything stays local on your computer.' | translate}} <a href="#" (click)="openURL('https://raw.githubusercontent.com/Gapminder/gapminder-offline/master/LICENSE')">{{'Read more' | translate}}</a></span></div>
            </div>
            <div class="col-sm-4" [ngClass]="{'col-sm-pull-8': ls.isRtl(), 'bottom-controls-rtl': ls.isRtl(), 'bottom-controls': !ls.isRtl()}">
                <input type="button" class="close-btn" (click)="close()" value="{{'Cancel' | translate}}" />
                <input type="button" *ngIf="format === 'csv'" class="ok-btn" (click)="ok()" [disabled]="!choice || !file || !delimiter || dataError" value="{{'OK' | translate}}" />
                <input type="button" *ngIf="format === 'excel'" class="ok-btn" (click)="ok()" [disabled]="loadingSheetsTitle || !choice || !file || dataError" value="{{'OK' | translate}}" />
            </div>
        </div>
    </div>
</div>
