<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Gapminder Offline</string>
	<key>CFBundleIconFile</key>
	<string>app/app-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.gapminder-offline</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gapminder Offline</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleShortVersionString</key>
	<string>0</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
    <key>CFBundleDocumentTypes</key>
    <array>
       <dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gmstat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/app-icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>GM document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
    </array>
</dict>
</plist>
