<div class="popup-block main-popup" [style.htight]="addDataMode ? '300px' : '330px'" style="overflow: auto;">
    <div *ngIf="!addDataMode" class="step-block">
        <h4>Step 1: Pick a chart:</h4>
        <div class="chartType">
            <label class="chart-label"><input type="radio" name="chartTypeGroup" (change)="setChartType('BubbleChart')" [value]="'BubbleChart'" [checked]="chartType === 'BubbleChart'"> Bubbles</label>
            <label class="chart-label"><input type="radio" name="chartTypeGroup" (change)="setChartType('LineChart')" [value]="'LineChart'" [checked]="chartType === 'LineChart'"> Lines</label>
            <label class="chart-label"><input type="radio" name="chartTypeGroup" (change)="setChartType('BarRankChart')" [value]="'BarRankChart'" [checked]="chartType === 'BarRankChart'"> Rankings</label>
        </div>
    </div>

    <div class="step-block">
        <h4>Step {{addDataMode ? 1 : 2}}: Choose how your data is arranged:</h4>
        <div *ngIf="addDataMode" class="desc">Limitation: entities in the first column should match the ones already used in the chart:
            <span class="highl">{{getCountries()}}</span> and so on... Time points should be expressed like <span class="highl">{{getTimePoints()}}</span>...
            Observe the restrictions on column headers, as <span class="highl">highlighted</span> below.
            You can find more instructions <a href="https://docs.google.com/document/d/1pfMcCSKhC2wEVJRYa4Ex2TZkGS22du0Kz9NxSAIHjqU" target="_blank">on&nbsp;this&nbsp;web&nbsp;page</a>
        </div>
        <div>
            <label class="step-label"><input type="radio" name="choiceGroup" (change)="setChoice('rows')" [checked]="choice === 'rows'"> Time is in rows</label>
            <div *ngIf="!addDataMode" class="desc">Column 1: entities, Column 2: time points, Column 3 and on: indicators (<a href="#" (click)="switchExampleRows()">see example</a>)</div>
            <div *ngIf="addDataMode" class="desc">Column 1: <span class="highl">{{getDim()}}</span>, Column 2: <span class="highl">{{getTime()}}</span>, Column 3 and on: indicators (<a href="#" (click)="switchExampleRows()">see example</a>)</div>
        </div>
        <div *ngIf="isExampleRows" class="example-container"><img src="./public/images/templates/time-as-rows-example.png" class="example-image"></div>
        <div>
            <label class="step-label"><input type="radio" name="choiceGroup" (change)="setChoice('columns')" [checked]="choice === 'columns'"> Time is in columns</label>
            <div *ngIf="!addDataMode" class="desc">Column 1: entities, Column 2: indicators, Column 3 and on: time points (<a href="#" (click)="switchExampleColumns()">see example</a>)</div>
            <div *ngIf="addDataMode" class="desc">Column 1: <span class="highl">{{getDim()}}</span>, Column 2: indicators, Column 3 and on: time points (<a href="#" (click)="switchExampleColumns()">see example</a>)</div>
        </div>
        <div *ngIf="isExampleColumns" class="example-container"><img src="./public/images/templates/time-as-columns-example.png" class="example-image"></div>
    </div>

    <div class="step-block">
        <h4>Step {{addDataMode ? 2 : 3}}: Pick a file:</h4>
        <div>
            <input placeholder="{{file}}" disabled="disabled" style="width: 70%;" />
            <div class="fileUpload btn btn-default">
                <span>Choose CSV file</span>
                <input #uploadBtn type="file" class="upload" (change)="onCsvFileChanged($event)" />
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="popup-footer">
    <div class="btn-group" style="width: 100%">
        <div class="row bottom-row">
            <div class="col-sm-8">
                <div><a href="http://vizabi.org/tutorials/2017/04/03/show-your-data/" target="_blank">How to prepare and export a file from MS Excel</a></div>
                <div><a href="https://docs.google.com/document/d/1GEgBscyLSbAkiXbrDrixGDrlTG4DekuFETD5AQaRBvs" target="_blank">How to export a file from Google Docs</a></div>
                <div><a href="https://csvlint.io/" target="_blank">Online csv validator (a handy tool)</a></div>
                <div><a href="#" (click)="switchUseYourDataVisible()">How do we use your data?</a><br><span *ngIf="useYourDataVisible">— We don't. Everything stays local on your computer. <a href="https://raw.githubusercontent.com/Gapminder/gapminder-offline/master/LICENSE" target="_blank">Read more</a></span></div>
            </div>
            <div class="col-sm-4 bottom-controls">
                <input type="button" class="close-btn" (click)="close()" value="Cancel" />
                <input type="button" class="ok-btn" (click)="ok()" [disabled]="!choice || !file || !delimiter" value="OK" />
            </div>
        </div>
    </div>
</div>
