.recorder-container {
  padding: 5px;
  background-color: #ffffff;
  text-align: center;
}

.btn {
  font-size: 14px;
  background: #f9cc3e;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.glyphicon-record-ltr:before {
  content: "\e165"
}

.glyphicon-record-rtl:after {
  content: "\e165"
}

.btn-ltr span {
  margin-right: 5px;
}

.btn-rtl span {
  margin-left: 5px;
}


.plain-btn {
  color: #444;
}

.stop-btn {
  color: red;
  animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
  0% {
    color: red;
  }
  50% {
    color: #770000;
  }
  100% {
    color: red;
  }
}

.btn-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.label {
  font-size: smaller;
}
