<div [dir]="ls.isRtl() ? 'rtl' : 'ltr'" [ngClass]="ls.getLanguagePrefix()" style="height: 100%" (click)="appMainClickHandler($event)">
  <div class="alert-container">
    <alert *ngFor="let alert of getPersistentAlerts()" [type]="alert.type" [dismissible]="true">
      <span *ngIf="!shouldAlertBeTranslated(alert)" [innerHtml]="alert.message"></span>
      <span *ngIf="shouldAlertBeTranslated(alert)" [innerHtml]="alert.message.template | translate:alert.message.params"></span>
    </alert>
    <alert *ngFor="let alert of getDismissableAlerts()"
           [type]="alert.type"
           [dismissible]="true"
           [dismissOnTimeout]="alert.timeout">
      <span *ngIf="!shouldAlertBeTranslated(alert)" [innerHtml]="alert.message"></span>
      <span *ngIf="shouldAlertBeTranslated(alert)" [innerHtml]="alert.message.template | translate:alert.message.params"></span>
      <span *ngIf="alert.activities && alert.activities.length>0">&nbsp;|&nbsp;</span>
      <span *ngFor="let activity of alert.activities">
        <a href="#" (click)="doAlertActivity(alert, activity)">{{activity.label | translate}}</a>
      </span>
    </alert>
  </div>
  <app-auto-update></app-auto-update>
  <app-recording-popup (close)="closeScreenRecorder()" #recordingPopup>
    <app-recorder *ngIf="isCaptureScreenWidgetOpened"></app-recorder>
  </app-recording-popup>

  <div class="menu-container" [ngClass]="{'menu-container-ltr': !ls.isRtl(), 'menu-container-rtl': ls.isRtl()}">
    <div class="ddf-menu">
      <div class="btn-group">
        <app-hamburger-menu [isMenuOpened]="isMenuOpened" [tabsModel]="tabsModel" (onMenuItemSelected)="onMenuItemSelected($event)"></app-hamburger-menu>
      </div>
    </div>
  </div>

  <div style="min-width: 800px; height: calc(100% - 52px);">
    <app-tabs [tabsModel]="tabsModel"
              [disabled]="tabsDisabled"
              (onTabsInit)="doDetectChanges()"
              (onTabRemoved)="doDetectChanges()"
              (onTabReady)="onTabReady()"
              (onTabSetActive)="doDetectChanges()"
              (onChartCreated)="onChartCreated()"
              (onChartClicked)="appMainClickHandler($event)"
              style="calc(height: 100%-30px)"></app-tabs>
  </div>

  <div bsModal
       #validationModal="bs-modal"
       (onHide)="onValidationModalHide()"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="Validation"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" [ngClass]="{'close-rtl': ls.isRtl()}" (click)="validationModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'DDF tools' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-validation-form (done)="validationFormComplete()"></app-validation-form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal
       #ddfDatasetConfigModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="New chart from your data"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" [ngClass]="{'close-rtl': ls.isRtl()}" (click)="ddfDatasetConfigModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'New chart from your data' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-ddf-dataset-config-form></app-ddf-dataset-config-form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal
       #csvConfigModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="New chart from your data"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" [ngClass]="{'close-rtl': ls.isRtl()}" (click)="csvConfigModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'New chart from your data' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-file-select-config-form [calculatedDataView]="calculatedDataView"
                                       [currentTab]="getCurrentTab()"
                                       (done)="completeFileConfigForm($event)">
          </app-file-select-config-form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal
       #excelConfigModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="New chart from your data"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" [ngClass]="{'close-rtl': ls.isRtl()}" (click)="excelConfigModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'New chart from your data' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-file-select-config-form [calculatedDataView]="calculatedDataView"
                                       [format]="'excel'"
                                       [currentTab]="getCurrentTab()"
                                       (done)="completeFileConfigForm($event)">
          </app-file-select-config-form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal
       #additionalCsvConfigModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="Add data to the active chart"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" [ngClass]="{'close-rtl': ls.isRtl()}" (click)="additionalCsvConfigModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'Add data to the active chart' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-file-select-config-form [calculatedDataView]="calculatedDataView"
                                       [addDataMode]="true"
                                       [currentTab]="getCurrentTab()"
                                       (done)="additionalFileConfigFormComplete($event)">
          </app-file-select-config-form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal
       #additionalExcelConfigModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="Add data to the active chart"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" [ngClass]="{'close-rtl': ls.isRtl()}" (click)="additionalExcelConfigModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'Add data to the active chart' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-file-select-config-form [calculatedDataView]="calculatedDataView"
                                       [format]="'excel'"
                                       [addDataMode]="true"
                                       [currentTab]="getCurrentTab()"
                                       (done)="additionalFileConfigFormComplete($event)">
          </app-file-select-config-form>
        </div>
      </div>
    </div>
  </div>

  <input id="addDdfFolder" type="file" style="display: none;" #addDdfFolder (click)="menuActions.ddfFolderClick($event, onDdfExtFolderChanged)"/>
</div>
