<tabset *ngIf="tabsModel && tabsModel.length > 0" style="height: 100%;">
    <tab *ngFor="let tab of tabsModel"
         [heading]="tab.title"
         style="height: 100%"
         [active]="tab.active"
         (select)="tab.active = true; forceResize();"
         (deselect)="tab.active = false"
         [removable]="tab.removable">
        <div *ngIf="!tab.chartType">
            <div class="tab-chart-choice">Choose Chart Type</div>
            <ul class="tab-chart-list">
                <li (click)="selectChart('BubbleChart')"><div><img src="./public/images/tools/bubblechart.png"><span>Bubble Chart</span></div></li>
                <li (click)="selectChart('BubbleMap')"><div><img src="./public/images/tools/bubblemap.png"><span>Bubble Map</span></div></li>
                <li (click)="selectChart('MountainChart')"><div><img src="./public/images/tools/mountainchart.png"><span>Mountain Chart</span></div></li>
            </ul>
        </div>
        <div *ngIf="tab.chartType" style="height: 100%;">
            <vizabi style="height: 100%;"
                    (onCreated)="chartCreated($event)"
                    (onChanged)="chartChanged($event)"
                    (onClick)="clickHandler()"
                    [order]="tab.getOrder()"
                    [readerModuleObject]="tab.readerModuleObject"
                    [readerGetMethod]="tab.readerGetMethod"
                    [readerParams]="tab.readerParams"
                    [readerName]="tab.readerName"
                    [model]="tab.model"
                    [extResources]="tab.extResources"
                    [additionalItems]="tab.additionalData"
                    [chartType]="tab.chartType"></vizabi>
        </div>
    </tab>
</tabset>
