<ae-tabs-new [model] = "tabsModel" style = "height: 100%;">
    <ae-tab-new *ngFor = "let tab of tabsModel"
                [title] = "tab.title"
                [active] = "tab.active"
                [removable] = "true"
                (select) = "tab.active = true; forceResize();"
                (deselect) = "tab.active = false"
                (remove) = "removeTab($event)"
                style = "height: 100%;">
        <div *ngIf = "!tab.chartType">
            <div class = "tab-chart-choice">Choose Chart Type</div>
            <ul class = "tab-chart-list">
                <li (click) = "selectChart('BubbleChart')">
                    <div><img src = "./public/images/tools/bubblechart.png"><span>Bubble Chart</span></div>
                </li>
                <li (click) = "selectChart('BubbleMap')">
                    <div><img src = "./public/images/tools/bubblemap.png"><span>Bubble Map</span></div>
                </li>
                <li (click) = "selectChart('MountainChart')">
                    <div><img src = "./public/images/tools/mountainchart.png"><span>Mountain Chart</span></div>
                </li>
            </ul>
        </div>
        <div *ngIf = "tab.chartType" style = "height: 100%">
            <vizabi style = "height: 100%;"
                    (onCreated) = "chartCreated($event)"
                    (onChanged) = "chartChanged($event)"
                    (onClick) = "clickHandler()"
                    [order] = "tab.getOrder()"
                    [readerModuleObject] = "tab.readerModuleObject"
                    [readerGetMethod] = "tab.readerGetMethod"
                    [readerParams] = "tab.readerParams"
                    [readerName] = "tab.readerName"
                    [model] = "tab.model"
                    [extResources] = "tab.extResources"
                    [additionalItems] = "tab.additionalData"
                    [chartType] = "tab.chartType"></vizabi>
        </div>
    </ae-tab-new>
    <a tabs-head href style="padding: 9px; z-index: 1000" (click)="openGapminder()" alt="GAPMINDER TOOLS"><img src="./public/logo.png" width="167" height="21"></a>
    <a tabs-tail href (click) = "chartService.initTab(tabsModel);">+</a>
</ae-tabs-new>
