<div class="wrapper">
  <div class="all-bookmarks">
    <div class="bookmarks-content">
      <div class="bookmark-title"><span class="bookmark-title-label">Bookmarks</span></div>

      <div class="bookmarks-container">
        <div *ngFor="let bookmark of unCategorizedBookmarks" class="bookmark-item">
          <div><img src="{{bookmark.image}}"></div>
          <div>
            <span *ngIf="!bookmark.editMode">{{bookmark.name}}</span>
            <div *ngIf="bookmark.editMode">
              <input [(ngModel)]="bookmark.name">
              <button (click)="save($event, bookmark)"><span class="glyphicon glyphicon-ok"></span></button>
              <button (click)="cancel($event, bookmark)"><span class="glyphicon glyphicon-remove"></span></button>
              <div>
                <select (change)="onBookmarkFolderChange($event, bookmark)" class="form-control">
                  <option value="" selected>---</option>
                  <option *ngFor="let folder of bookmarksFolders">{{folder.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <div><span>{{bookmark.date}}</span></div>
          <div class="wait" *ngIf="bookmark.removeRequest"><img src="assets/images/hourglass.gif"></div>
          <div class="edit">
            <button (click)="open($event, bookmark)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button (click)="edit($event, bookmark)" [disabled]="bookmark.editMode">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button (click)="remove($event, bookmark)" *ngIf="!bookmark.removeRequest">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bookmark-new">
      <a href="#" (click)="isNewBookmarksFolderFormVisible = !isNewBookmarksFolderFormVisible">New folder</a>
      <div *ngIf="isNewBookmarksFolderFormVisible">
        <div>
          <input [disabled]="folderCreationInProgress" [(ngModel)]="newBookmarksFolder" style="width: 300px;">
          <button [disabled]="folderCreationInProgress" (click)="createNewBookmarksFolder()"><span class="glyphicon glyphicon-ok"></span></button>
          <button [disabled]="folderCreationInProgress" (click)="resetFolderForm()"><span class="glyphicon glyphicon-remove"></span></button>
          <span *ngIf="folderCreationInProgress"><img src="assets/images/hourglass.gif"></span>
        </div>
      </div>
    </div>

    <div *ngFor="let folder of bookmarksFolders">
      <div class="bookmark-title">
        <span *ngIf="!folder.editMode" class="bookmark-title-label">{{folder.name}}</span>
        <input *ngIf="folder.editMode" [disabled]="folderEditRequest" [(ngModel)]="newFolderName">
        <span>
           <button *ngIf="!folder.editMode"
                   [disabled]="folderEditRequest && !(bookmarksByFolder[folder.name] && bookmarksByFolder[folder.name].length > 0)"
                   (click)="folder.collapsed=!folder.collapsed"><span class="glyphicon glyphicon-chevron-down"></span></button>
           <button *ngIf="!folder.editMode"
                   [disabled]="folderEditRequest"
                   (click)="switchFolderEditMode(folder)"><span class="glyphicon glyphicon-edit"></span></button>
           <button *ngIf="!folder.editMode" [disabled]="folderEditRequest" (click)="removeFolder($event, folder)"><span class="glyphicon glyphicon-trash"></span></button>
           <button *ngIf="folder.editMode" [disabled]="folderEditRequest" (click)="saveFolder($event, folder)"><span class="glyphicon glyphicon-ok"></span></button>
           <button *ngIf="folder.editMode" [disabled]="folderEditRequest" (click)="folder.editMode=false"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
      </div>
      <div *ngIf="!folder.collapsed && bookmarksByFolder[folder.name] && bookmarksByFolder[folder.name].length > 0" class="bookmarks-container">
        <div *ngFor="let bookmark of bookmarksByFolder[folder.name]" class="bookmark-item">
          <div><img src="{{bookmark.image}}"></div>
          <div>
            <span *ngIf="!bookmark.editMode">{{bookmark.name}}</span>
            <div *ngIf="bookmark.editMode">
              <input [(ngModel)]="bookmark.name">
              <button (click)="save($event, bookmark)"><span class="glyphicon glyphicon-ok"></span></button>
              <button (click)="cancel($event, bookmark)"><span class="glyphicon glyphicon-remove"></span></button>
              <div>
                <select (change)="onBookmarkFolderChange($event, bookmark)" [selectedIndex]="bookmark.folder === folder.name" class="form-control">
                  <option value="">---</option>
                  <option *ngFor="let folder of bookmarksFolders">{{folder.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <div><span>{{bookmark.date}}</span></div>
          <div class="wait" *ngIf="bookmark.removeRequest"><img src="assets/images/hourglass.gif"></div>
          <div class="edit">
            <button (click)="open($event, bookmark)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button (click)="edit($event, bookmark)" [disabled]="bookmark.editMode">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button (click)="remove($event, bookmark)" *ngIf="!bookmark.removeRequest">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
