<div class="wrapper">
  <div class="all-bookmarks">
    <div class="bookmarks-content">
      <div class="bookmark-title"><span class="bookmark-title-label">{{'Bookmarks' | translate}}</span></div>

      <div class="bookmarks-container" [dragula]="'bm'" [(dragulaModel)]="unCategorizedBookmarks">
        <div *ngFor="let bookmark of unCategorizedBookmarks" [attr.id]="'bm_'+bookmark.id" class="bookmark-item">
          <div><img src="{{bookmark.image}}"></div>
          <div>
            <span *ngIf="!bookmark.editMode">{{bookmark.name}}</span>
            <div *ngIf="bookmark.editMode">
              <input [(ngModel)]="bookmark.tmpName">
              <button (click)="save(bookmark)"><span class="glyphicon glyphicon-ok"></span></button>
              <button (click)="cancel(bookmark)"><span class="glyphicon glyphicon-remove"></span></button>
              <div>
                <select (change)="onBookmarkFolderChange($event, bookmark)" class="form-control">
                  <option value="" selected>---</option>
                  <option *ngFor="let folder of bookmarksFolders">{{folder.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <div><span>{{bookmark.date}}</span></div>
          <div class="wait" *ngIf="bookmark.removeRequest"><img src="assets/images/hourglass.gif"></div>
          <div class="edit">
            <button (click)="open(bookmark)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button (click)="edit(unCategorizedBookmarks, bookmark)" [disabled]="bookmark.editMode">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button (click)="remove(bookmark)" *ngIf="!bookmark.removeRequest">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bookmark-new">
      <a href="#" (click)="isNewBookmarksFolderFormVisible = !isNewBookmarksFolderFormVisible">{{'New folder' | translate}}</a>
      <div *ngIf="isNewBookmarksFolderFormVisible">
        <div>
          <input [disabled]="isLocked()" [(ngModel)]="newBookmarksFolder" maxlength="50" style="width: 300px;">
          <button [disabled]="isLocked()" (click)="createNewBookmarksFolder()"><span
            class="glyphicon glyphicon-ok"></span></button>
          <button [disabled]="isLocked()" (click)="resetFolderForm()"><span class="glyphicon glyphicon-remove"></span>
          </button>
          <span *ngIf="isLocked()"><img src="assets/images/hourglass.gif"></span>
        </div>
      </div>
    </div>

    <div *ngFor="let folder of bookmarksFolders">
      <div class="bookmark-title">
        <span *ngIf="!folder.editMode" class="bookmark-title-label">{{folder.name}}</span>
        <input *ngIf="folder.editMode" [disabled]="isLocked()" maxlength="50" [(ngModel)]="folder.tmpName">
        <span>
           <button
             *ngIf="!folder.editMode && !isLocked() && (bookmarksByFolder[folder.name] && bookmarksByFolder[folder.name].length > 0)"
             (click)="folder.collapsed=!folder.collapsed">
             <span *ngIf="folder.collapsed" class="glyphicon glyphicon-chevron-down"></span>
             <span *ngIf="!folder.collapsed" class="glyphicon glyphicon-chevron-up"></span>
           </button>
           <button *ngIf="!folder.editMode"
                   [disabled]="isLocked()"
                   (click)="switchFolderEditMode(bookmarksFolders, folder)"><span
             class="glyphicon glyphicon-edit"></span></button>
           <button *ngIf="!folder.editMode" [disabled]="isLocked()" (click)="removeFolder(folder)"><span
             class="glyphicon glyphicon-trash"></span></button>
           <button *ngIf="folder.editMode" [disabled]="isLocked()" (click)="saveFolder(folder)"><span
             class="glyphicon glyphicon-ok"></span></button>
           <button *ngIf="folder.editMode" [disabled]="isLocked()" (click)="cancelFolder(folder)"><span
             class="glyphicon glyphicon-remove"></span></button>
        </span>
      </div>
      <div *ngIf="!folder.collapsed && bookmarksByFolder[folder.name]"
           [dragula]="'bm'"
           [attr.id]="folder.name"
           [(dragulaModel)]="bookmarksByFolder[folder.name]"
           class="bookmarks-container">
        <div *ngFor="let bookmark of bookmarksByFolder[folder.name]" [attr.id]="'bm_'+bookmark.id"
             class="bookmark-item">
          <div><img src="{{bookmark.image}}"></div>
          <div>
            <div *ngIf="!bookmark.editMode" class="hellip-block" [title]="bookmark.name">{{bookmark.name}}</div>
            <div *ngIf="bookmark.editMode">
              <input [(ngModel)]="bookmark.tmpName">
              <button (click)="save(bookmark)"><span class="glyphicon glyphicon-ok"></span></button>
              <button (click)="cancel(bookmark)"><span class="glyphicon glyphicon-remove"></span></button>
              <div>
                <select (change)="onBookmarkFolderChange($event, bookmark)" class="form-control">
                  <option value="">---</option>
                  <option *ngFor="let folder of bookmarksFolders"
                          [selected]="bookmark.folder === folder.name">{{folder.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <div><span>{{bookmark.date}}</span></div>
          <div class="wait" *ngIf="bookmark.removeRequest"><img src="assets/images/hourglass.gif"></div>
          <div class="edit">
            <button (click)="open(bookmark)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button (click)="edit(bookmarksByFolder[folder.name], bookmark)" [disabled]="bookmark.editMode">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button (click)="remove(bookmark)" *ngIf="!bookmark.removeRequest">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
