<!--<div class="popup-block">
    <div class="btn-group">
        <select (change)="onSelect('ddfChartType', $event.target.value)">
            <option *ngFor="let lDdfChartType of ddfChartTypes"
                    [value]="lDdfChartType.value">{{lDdfChartType.title}}</option>
        </select>
    </div>

    <input type="button"
           (click)="defaults()"
           value="Default path prefixes"/>

    <input type="button"
           (click)="expertMode = !expertMode"
           value="Expert mode {{expertMode ? '[OFF]' : '[ON]'}}"/>
</div>-->

<div class="popup-block" *ngIf="!!ddfError" style="color: red;">{{ddfError}}</div>

<div class="popup-block">
    <label>DDF default data folder (folder)&nbsp;<input type="text" [(ngModel)]="ddfUrl" size="40"></label>
</div>

<!--<div class="popup-block">
    <label>DDF default translations prefix (folder&file name)&nbsp;
        <input type="text" [(ngModel)]="ddfTranslationsUrl" size="40"></label>
</div>->

<div class="popup-block">
    Preset:
    <select (change)="onPresetSelect($event.target.value)">
        <option *ngFor="let preset of presets.items"
                [selected]="currentPreset.name === preset.name"
                [value]="preset.name">{{preset.name}}</option>
    </select>
</div>


<!--<div class="popup-block" *ngIf="expertMode">
    Main query for Vizabi for different charts (GW - default)<br>
    <textarea [(ngModel)]="mainQuery[ddfChartType]" rows="12" cols="70" style="font-size: x-small;"></textarea>
</div>-->

<!--<div *ngIf="ddfChartType === 'BubbleChart' || ddfChartType === 'MountainChart'">
    <div class="popup-block">
        X axis:
        <select (change)="onSelect('xAxis', $event.target.value)">
            <option *ngFor="let axis of measures"
                    [selected]="xAxis === axis.concept"
                    [value]="axis.concept">{{axis.name}}</option>
        </select>
    </div>
    <div class="popup-block">
        Y axis:
        <select (change)="onSelect('yAxis', $event.target.value)">
            <option *ngFor="let axis of measures"
                    [selected]="yAxis === axis.concept"
                    [value]="axis.concept">{{axis.name}}</option>
        </select>
    </div>
    <div class="popup-block">
        Size axis:
        <select (change)="onSelect('sizeAxis', $event.target.value)">
            <option *ngFor="let axis of measures"
                    [selected]="sizeAxis === axis.concept"
                    [value]="axis.concept">{{axis.name}}</option>
        </select>
    </div>
</div>
<div *ngIf="ddfChartType === 'BubbleMap'">
    <div class="popup-block">
        Size measure:
        <select (change)="onSelect('sizeAxis', $event.target.value)">
            <option *ngFor="let axis of measures"
                    [selected]="sizeAxis === axis.concept"
                    [value]="axis.concept">{{axis.name}}</option>
        </select>
    </div>
</div>-->

<!--<div class="popup-block">
    Current time:
    <input type="text" [(ngModel)]="currentTime">
    End time:
    <input type="text" [(ngModel)]="endTime">
</div>-->

<div class="popup-footer">
    <!--<input type="button"
           [disabled]="cantGo() || !isGoodToBeProcessed()"
           (click)="openDdf()"
           value="Go" />-->
    <input type="button"
           (click)="openDdf()"
           value="Go" />
    <input type="button" (click)="close()" value="Close" />
</div>
