<div style="height: 100%" (click)="appMainClickHandler($event)">
    <div class="auto-update-container">
        <ae-auto-update (onAutoUpdateRequested)="doDetectChanges()"
                        (onAutoUpdateProgress)="doDetectChanges()"
                        (onAutoUpdateCompleted)="doDetectChanges()"></ae-auto-update>
    </div>

    <div style="position: absolute; top: 0; right: 0;">
        <div class="ddf-menu">
            <div class="btn-group">
                <ae-hamburger-menu [isMenuOpened]="isMenuOpened" [tabsModel]="tabsModel" (onMenuItemSelected)="onMenuItemSelected($event)"></ae-hamburger-menu>
            </div>
        </div>
    </div>

    <div style="min-width: 800px; height: calc(100% - 52px);">
        <ae-tabs [tabsModel]="tabsModel"
                 [disabled]="tabsDisabled"
                 (onTabsInit)="doDetectChanges()"
                 (onTabRemoved)="doDetectChanges()"
                 (onTabReady)="onTabReady($event)"
                 (onTabSetActive)="doDetectChanges()"
                 (onChartCreated)="onChartCreated()"
                 (onChartClicked)="appMainClickHandler($event)"
                 style="height: 100%;"></ae-tabs>
    </div>

    <div bsModal
         #versionsModal="bs-modal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Check for updates"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="versionsModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Check for updates</h4>
                </div>
                <div class="modal-body">
                    <ae-versions-form (done)="versionsFormComplete($event)"></ae-versions-form>
                </div>
            </div>
        </div>
    </div>

    <div bsModal
         #ddfDatasetConfigModal="bs-modal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="New chart from your data"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="ddfDatasetConfigModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">New chart from your data</h4>
                </div>
                <div class="modal-body">
                    <ae-ddf-dataset-config-form></ae-ddf-dataset-config-form>
                </div>
            </div>
        </div>
    </div>

    <div bsModal
         #csvConfigModal="bs-modal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="New chart from your data"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="csvConfigModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">New chart from your data</h4>
                </div>
                <div class="modal-body">
                    <ae-csv-config-form [currentTab]="getCurrentTab()" (done)="completeCsvConfigForm($event)"></ae-csv-config-form>
                </div>
            </div>
        </div>
    </div>

    <div bsModal
         (onShown)="onAdditionalCsvConfigModalShown()"
         #additionalCsvConfigModal="bs-modal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Add data to the active chart"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="additionalCsvConfigModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add data to the active chart</h4>
                </div>
                <div class="modal-body">
                    <ae-csv-config-form [addDataMode]="true" [currentTab]="getCurrentTab()" (done)="additionalCsvConfigFormComplete($event)"></ae-csv-config-form>
                </div>
            </div>
        </div>
    </div>
    <input id="addDdfFolder" type="file" style="display: none;" #addDdfFolder (click)="menuActions.ddfFolderClick($event, onDdfExtFolderChanged)"/>
</div>
