@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.heading-2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Bariol Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Bariol Regular', Arial, sans-serif;
    min-width: 250px;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: block;
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.wrapper-error {
    padding: 50px;
    text-align: center;
}

.wrapper-error .header-title {
    display: block;
    float: none;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #ffca34;
    min-width: 250px;
    padding: 0 15px;
    position: relative;
    height: auto;
    min-height: 50px;
}

.header-title {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(./public/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    background-size: 100%;
    color: #fff;
    float: left;
    font-size: 17px;
    line-height: 50px;
    margin: 0;
    z-index: 9999;
}

.column {
    padding: 0;
}

.column.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    background: #fff;
}

.card {
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px 2px;
    padding: 20px;
    margin: 0px auto 10px auto;
    max-width: 250px;
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.add-tab {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;
    outline: none;
    background: none;
    border: none;
    font-family: 'Bariol Bold';
}

.tab-chart-choice {
    text-align: center;
    font-size: 20px;
    padding: 40px 0 20px 0;
}
.tab-chart-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab-chart-list li {
    width: 33%;
    float: left;
    cursor: pointer;
}
.tab-chart-list li div {
    margin: 20px;
    padding: 20px;
    display: block;
    border: 1px solid #ffca34;
}
.tab-chart-list span {
    display: block;
    text-align: center;
    font-size: 16px;
}
.tab-chart-list li div img {
    width: 100%;
}