.ddf-menu {
    position: absolute;
    display: block;
}

.ddf-menu {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 9;
}

@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.heading-2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Bariol Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Bariol Regular', Arial, sans-serif;
    min-width: 250px;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: block;
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        position: static;
        height: auto;
    }
}

.wrapper-error {
    padding: 50px;
    text-align: center;
}

.wrapper-error .header-title {
    display: block;
    float: none;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #ffca34;
    min-width: 250px;
    padding: 0 15px;
    position: relative;
    height: auto;
    min-height: 50px;
}

/*.header:after {
  content: 'pre-alpha version';
  color: #ff1313;
  display: block;
  position: absolute;
  top: 11px;
  z-index: 100;
  right: 50px;
  opacity: 0.6;
  font-size: 20px;
}*/
@media only screen and (max-width: 700px) {
    .header:after {
        top: 5px;
        bottom: auto;
        font-size: 13.5px;
        right: 43px;
    }
}

.header-title {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(./public/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    background-size: 100%;
    color: #fff;
    float: left;
    font-size: 17px;
    line-height: 50px;
    margin: 0;
}

@media only screen and (max-width: 700px) {
    .header-title {
        height: 30px;
    }
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999;
    bottom: 0;
    left: 200px;
    position: static;
    padding-top: 50px;
}

.navbar-nav li {
    line-height: 30px;
    font-size: 18px;
}

.navbar-nav:hover {
    display: block !important;
}

.menu-mobile {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    width: 25px;
    height: 3px;
    display: block;
}

.menu-mobile {
    top: -11px;
    height: 40px;
    cursor: pointer;
    right: 0;
    top: 0;
    transition-duration: 0.5s;
    width: 40px;
    position: absolute;
    z-index: 9;
}

.menu-mobile:hover {
    cursor: pointer;
}

.menu-mobile .icon {
    transition-duration: 0.2s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffca34;
    top: 24px;
}

.menu-mobile .icon:before,
.menu-mobile .icon:after {
    transition-duration: 0.5s;
    background-color: #ffca34;
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
}

.menu-mobile .icon:before {
    top: -7px;
}

.menu-mobile .icon:after {
    top: 7px;
}

.menu-mobile.open .icon {
    background-color: transparent;
}

.menu-mobile.open .icon:before,
.menu-mobile.open .icon:after {
    top: 0;
}

.menu-mobile.open .icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.menu-mobile.open .icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.nav-expandable {
    position: relative;
}

.nav-expandable,
.nav-expandable * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-expandable .nav-expandable-item {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .nav-expandable .nav-expandable-item {
        display: block;
        border-bottom: 1px solid #f2f2f2;
    }
}

.nav-expandable .nav-expandable-item a {
    color: #777;
    cursor: pointer;
    display: block;
    font-family: "Bariol Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .nav-expandable .nav-expandable-item a {
        padding: 10px;
    }

    .nav-expandable .nav-expandable-item a:hover {
        text-decoration: none;
    }
}

.nav-expandable .nav-expanded:hover + .nav-toggle-expanded {
    border-left-color: #ffca34;
    border-right-color: #ffca34;
}

.nav-expandable .nav-toggle-expanded {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.nav-expandable .nav-toggle-expanded.active,
.nav-expandable .nav-toggle-expanded:hover {
    background-color: #fff;
    color: #ffca34;
}

@media only screen and (min-width: 701px) {
    .nav-expandable .nav-toggle-expanded:hover + .nav-expanded,
    .nav-expandable .nav-toggle-expanded + .nav-expanded:hover {
        z-index: 55;
        display: block !important;
    }
}

.nav-expandable .nav-expanded {
    background-color: #fff;
    border-left: 2px solid #ffca34;
    border-right: 2px solid #ffca34;
    border-bottom: 2px solid #ffca34;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    width: 700px;
}

@media only screen and (min-width: 701px) {
    .nav-expandable .nav-expanded {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .nav-expandable .nav-expanded {
        width: auto;
        position: static;
        padding: 4px;
        border: 0;
    }
}

.nav-expandable .nav-expanded .nav-expanded-heading {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #b2b2b2;
    display: block;
    font-family: "Bariol Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@media (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-heading {
        float: left;
        width: 100%;
    }
}

.nav-expandable .nav-expanded .nav-expanded-more {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    text-transform: uppercase;
}

@media (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-more {
        float: left;
        width: 100%;
    }
}

.nav-expandable .nav-expanded .nav-expanded-columns a {
    padding: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns ul {
    padding: 0;
    list-style: none;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-1 {
        float: left;
        width: 50%;
    }
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-1 .expanded-column-item {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-1 .expanded-column-item {
        float: left;
        width: 100%;
    }
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 {
        float: left;
        width: 100%;
    }
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 .expanded-column-item {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 .expanded-column-item {
        float: left;
        width: 50%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 999px) {
    .nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 .expanded-column-item {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 999px) and (min-width: 701px) {
    .nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 .expanded-column-item {
        float: left;
        width: 100%;
    }
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-icons {
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 20px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-icons:last-child {
    border: none;
    margin-bottom: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints {
    margin-bottom: 7px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item {
    margin-bottom: 5px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .column-item-icon {
    background-color: #ffca34;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    top: 8px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .column-item-icon span {
    display: none;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item .column-item-info {
    margin-left: 21px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    display: inline;
    margin-left: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-plain .nav-expanded-columns-inner .expanded-column-item .column-item-icon {
    display: none;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-plain .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-plain .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    margin-left: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item {
    margin-bottom: 20px;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row a,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item a {
    text-transform: none;
    line-height: 31px;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-icon,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-icon {
    color: #ffca34;
    font-size: 32px;
    position: absolute;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-description,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    margin-left: 80px;
    font-family: "Bariol Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.4;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading {
    font-family: "Bariol Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-description,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    color: #b2b2b2;
    font-size: 15px;
}

@media only screen and (min-width: 701px) and (min-width: 701px) and (max-width: 999px) {
    .nav-expandable .nav-expanded {
        left: 0;
        width: 400px;
    }
}

.loader-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 111111;
}

.loader {
    border: 5px solid #ccc;
    border-right-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    float: right;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading .loader {
    display: block;
}

@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.column {
    padding: 0;
}

.column.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    background: #fff;
}

@media only screen and (max-width: 700px) {
    .column.main {
        height: 450px;
    }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
    .column.main {
        height: 250px;
    }
}

.card {
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px 2px;
    padding: 20px;
    margin: 0px auto 10px auto;
    max-width: 250px;
}

@media only screen and (max-width: 700px) {
    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 0/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 1/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 2/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 3/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 4/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 5/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 6/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 7/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 8/4s forwards;
    }

    .card:nth-child(i) {
        opacity: 0;
        animation: fadeInDown 0.5s 9/4s forwards;
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #999;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px 2px;
    padding: 8px 10px;
    margin: 0px 3px 7px 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', Arial, sans-serif;
}

.btn:hover {
    cursor: pointer;
    background: #8a8a8a;
}

.btn.primary {
    background: #ffca34;
}

.btn.primary:hover {
    background: #ffc215;
}

.btn.block {
    width: 100%;
    display: block;
}

.wrap-report-problem {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.wrap-report-problem .report-problem {
    padding: 0 20px;
    float: right;
    color: #777;
}

.wrap-report-problem .report-problem.indent {
    margin-right: 30px;
}

@media only screen and (max-width: 700px) {
    .wrap-report-problem .report-problem {
        float: none;
        display: inline-block;
    }
}

.wrap-social {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.social-list {
    list-style: none;
    margin: 9px 200px 0 0;
    padding: 0;
    float: right;
}

@media only screen and (min-width: 701px) and (max-width: 999px) {
    .social-list {
        margin-right: 175px;
    }
}

.social-list.mobile {
    display: none;
    margin: 5px;
}

@media only screen and (max-width: 700px) {
    .social-list.desktop {
        display: none;
    }

    .social-list.mobile {
        float: none;
        display: inline-block;
    }
}

.social-list li {
    float: left;
    margin-left: 8px;
}

.social-list li a {
    color: #ffca34;
    font-size: 25px;
}

.social-list .ico-plane {
    background: #ffca34;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 4px 5px 3px;
    margin: 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.social-list .ico-plane path {
    fill: #fff;
}

@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.more {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

@media only screen and (max-width: 700px) {
    .more {
        padding: 20px 0;
    }
}

@media only screen and (min-width: 701px) {
    .more {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .related {
        padding: 20px;
    }
}

@media only screen and (min-width: 701px) {
    .related {
        float: left;
        width: 63%;
    }
}

.about {
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width: 701px) {
    .about {
        padding-left: 20px;
        float: right;
        width: 37%;
    }

    .about:after {
        clear: both;
    }
}

@media only screen and (max-width: 700px) {
    .about {
        background: #f2fafc;
        float: none;
        padding: 20px;
        width: 100%;
    }

    .about .heading-2 {
        display: none;
    }
}

.related-items {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
    .related-items {
        -webkit-columns: 2 20px;
        -moz-columns: 2 20px;
        columns: 2 20px;
    }
}

.related-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
    .related-item {
        padding: 0px;
        margin-bottom: 10px;
    }
}

.related-item a {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: #222;
}

.related-item a:hover .title {
    color: #607889;
}

.related-item-thumbnail {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 130px;
    height: auto;
}

@media only screen and (max-width: 700px) {
    .related-item-thumbnail {
        width: 100px;
    }
}

.related-item-thumbnail img {
    width: 100%;
    height: auto;
}

.related-item-info {
    display: inline-block;
    flex: 1;
    line-height: 1.2;
    padding-right: 15px;
    position: relative;
    margin-left: 20px;
}

.related-item-info .title,
.related-item-info .subtitle {
    display: block;
}

.related-item-info .title {
    font-size: 16px;
}

.related-item-info .subtitle {
    font-size: 14px;
    font-style: italic;
    color: #808080;
}

.menu {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    margin-left: 200px;
}

@media only screen and (max-width: 999px) {
    .menu {
        display: none;
    }
}

.menu-primary {
    list-style: none;
    position: relative;
    z-index: 100;
    background: #fff;
    padding: 0;
    margin: 0;
}

.menu-primary > .menu-item {
    display: block;
    color: #808285;
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .menu-primary > .menu-item {
        float: left;
        width: 50%;
    }
}

.menu-primary > .menu-item > a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;
    margin: 1px 0 0 0;
    text-decoration: none;
    max-width: 400px;
    margin-bottom: 40px;
    width: 90%;
}

@media only screen and (min-width: 1000px) {
    .menu-primary > .menu-item > a {
        width: 90%;
    }
}

.menu-primary > .menu-item > a .title {
    font-family: 'Bariol Bold';
    color: #808285;
    font-size: 18px;
    font-weight: 300;
    display: block;
    padding: 15px;
}

.menu-primary > .menu-item > a .image {
    width: 100%;
    height: auto;
}

.menu-primary > .menu-item > a:hover {
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.05), 0 1px 6px rgba(0, 0, 0, 0.18);
}

.menu-primary > .menu-item > a:hover > .title {
    color: #607889;
}

@media only screen and (max-width: 700px) {
    .menu-primary {
        background: none;
        text-align: center;
        display: inline-block;
    }

    .menu-primary > .menu-item {
        width: 48%;
        float: left;
    }

    .menu-primary > .menu-item > a {
        background: #fff;
        margin: 0;
        display: inline-block;
    }

    .menu-primary > .menu-item > a .title {
        display: none;
    }
}

.vzb-tool {
    font-family: 'Bariol Regular', "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.vzb-tool .vzb-tool-buttonlist {
    background-color: #fff !important;
}

.pre-popup {
    width: 750px;
    position: absolute;
    top: 40px;
    left: 30%;
    background: #fff;
    border: 2px solid #f9cc3e;
    padding: 10px;
}

.popup-block {
    padding: 10px;
}

.popup-footer {
    padding-top: 10px;
}

@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.tabs {
    list-style: none;
    float: left;
    margin: 10px 0 0 20px;
    padding: 0;
}

.tabs li {
    float: left;
    border: 2px solid #ffca34;
    border-bottom: none;
    margin-right: 10px;
    line-height: 36px;
    font-size: 16px;
}

.tabs li a {
    padding: 0 15px;
}

.tabs li.selected-tab {
    background: #ffca34;
}

.tabs li .close {
    float: right;
    margin-right: 10px;
    padding: 0;
}

.add-tab {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;
    outline: none;
    background: none;
    border: none;
    font-family: 'Bariol Bold';
}
