@font-face {
    font-family: 'Bariol Thin';
    src: url(./public/fonts/bariol_thin-webfont.eot);
    src: url(./public/fonts/bariol_thin-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin-webfont.woff) format('woff'), url(./public/fonts/bariol_thin-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin-webfont.svg#bariolthin) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Thin Italic';
    src: url(./public/fonts/bariol_thin_italic-webfont.eot);
    src: url(./public/fonts/bariol_thin_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_thin_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_thin_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_thin_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url(./public/fonts/bariol_light-webfont.eot);
    src: url(./public/fonts/bariol_light-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light-webfont.woff) format('woff'), url(./public/fonts/bariol_light-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light-webfont.svg#bariol_lightlight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light Italic';
    src: url(./public/fonts/bariol_light_italic-webfont.eot);
    src: url(./public/fonts/bariol_light_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_light_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_light_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_light_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url(./public/fonts/bariol_regular-webfont.eot);
    src: url(./public/fonts/bariol_regular-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular-webfont.woff) format('woff'), url(./public/fonts/bariol_regular-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular-webfont.svg#bariol_regularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular Italic';
    src: url(./public/fonts/bariol_regular_italic-webfont.eot);
    src: url(./public/fonts/bariol_regular_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_regular_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_regular_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_regular_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url(./public/fonts/bariol_bold-webfont.eot);
    src: url(./public/fonts/bariol_bold-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold-webfont.woff) format('woff'), url(./public/fonts/bariol_bold-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold-webfont.svg#bariol_boldbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold Italic';
    src: url(./public/fonts/bariol_bold_italic-webfont.eot);
    src: url(./public/fonts/bariol_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(./public/fonts/bariol_bold_italic-webfont.woff2) format('woff2'), url(./public/fonts/bariol_bold_italic-webfont.woff) format('woff'), url(./public/fonts/bariol_bold_italic-webfont.ttf) format('truetype'), url(./public/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

.heading-2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Bariol Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Bariol Regular', Arial, sans-serif;
    min-width: 250px;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: block;
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.wrapper-error {
    padding: 50px;
    text-align: center;
}

.wrapper-error .header-title {
    display: block;
    float: none;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #ffca34;
    min-width: 250px;
    padding: 0 15px;
    position: relative;
    height: auto;
    min-height: 50px;
}

.header-title {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(./public/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    background-size: 100%;
    color: #fff;
    float: left;
    font-size: 17px;
    line-height: 50px;
    margin: 0;
}

/*.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999;
    bottom: 0;
    left: 200px;
    position: static;
    padding-top: 50px;
}

.navbar-nav li {
    line-height: 30px;
    font-size: 18px;
}

.navbar-nav:hover {
    display: block !important;
}

.nav-expandable {
    position: relative;
}

.nav-expandable,
.nav-expandable * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-expandable .nav-expandable-item {
    display: inline-block;
}

.nav-expandable .nav-expandable-item a {
    color: #777;
    cursor: pointer;
    display: block;
    font-family: "Bariol Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}*/

/*.nav-expandable .nav-expanded:hover + .nav-toggle-expanded {
    border-left-color: #ffca34;
    border-right-color: #ffca34;
}

.nav-expandable .nav-toggle-expanded {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.nav-expandable .nav-toggle-expanded.active,
.nav-expandable .nav-toggle-expanded:hover {
    background-color: #fff;
    color: #ffca34;
}

.nav-expandable .nav-expanded {
    background-color: #fff;
    border-left: 2px solid #ffca34;
    border-right: 2px solid #ffca34;
    border-bottom: 2px solid #ffca34;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    width: 700px;
}*/

/*.nav-expandable .nav-expanded .nav-expanded-heading {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #b2b2b2;
    display: block;
    font-family: "Bariol Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.nav-expandable .nav-expanded .nav-expanded-more {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    text-transform: uppercase;
}

.nav-expandable .nav-expanded .nav-expanded-columns a {
    padding: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns ul {
    padding: 0;
    list-style: none;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-1 .expanded-column-item {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-2 .expanded-column-item {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-icons {
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 20px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-icons:last-child {
    border: none;
    margin-bottom: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints {
    margin-bottom: 7px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item {
    margin-bottom: 5px;
}*/

/*.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .column-item-icon {
    background-color: #ffca34;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    top: 8px;
}*/

/*.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .column-item-icon span {
    display: none;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item .column-item-info {
    margin-left: 21px;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-bulletpoints .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    display: inline;
    margin-left: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-plain .nav-expanded-columns-inner .expanded-column-item .column-item-icon {
    display: none;
}

.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-plain .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns.nav-expanded-columns-plain .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    margin-left: 0;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item {
    margin-bottom: 20px;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row a,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item a {
    text-transform: none;
    line-height: 31px;
}*/

/*.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-icon,*/
/*.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-icon {
    color: #ffca34;
    font-size: 32px;
    position: absolute;
}*/

/*.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-description,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    margin-left: 80px;
    font-family: "Bariol Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.4;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-heading,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-heading {
    font-family: "Bariol Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner make-row .column-item-info .column-item-description,
.nav-expandable .nav-expanded .nav-expanded-columns .nav-expanded-columns-inner .expanded-column-item .column-item-info .column-item-description {
    color: #b2b2b2;
    font-size: 15px;
}

.loader-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 111111;
}

.loader {
    border: 5px solid #ccc;
    border-right-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    float: right;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading .loader {
    display: block;
}*/

.column {
    padding: 0;
}

.column.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    background: #fff;
}

.card {
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px 2px;
    padding: 20px;
    margin: 0px auto 10px auto;
    max-width: 250px;
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*.btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #999;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px 2px;
    padding: 8px 10px;
    margin: 0px 3px 7px 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', Arial, sans-serif;
}*/

/*.btn:hover {
    cursor: pointer;
    background: #8a8a8a;
}

.btn.primary {
    background: #ffca34;
}

.btn.primary:hover {
    background: #ffc215;
}

.btn.block {
    width: 100%;
    display: block;
}*/


/*.popup-block {
    padding: 10px;
}

.popup-footer {
    padding-top: 10px;
}

.tabs {
    list-style: none;
    float: left;
    margin: 10px 0 0 20px;
    padding: 0;
}

.tabs li {
    float: left;
    border: 2px solid #ffca34;
    border-bottom: none;
    margin-right: 10px;
    line-height: 36px;
    font-size: 16px;
}

.tabs li a {
    padding: 0 15px;
}

.tabs li.selected-tab {
    background: #ffca34;
}

.tabs li .close {
    float: right;
    margin-right: 10px;
    padding: 0;
}*/

.add-tab {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;
    outline: none;
    background: none;
    border: none;
    font-family: 'Bariol Bold';
}
