.row-striped:nth-of-type(odd){
  background-color: #efefef;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
}

.versions {
  height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
}
