.good-file {
    outline: none;
    border: 1px solid #dadada;
}

.wrong-file {
    outline: none;
    border: 1px solid #cc0000;
}

input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload.btn.btn-default {
    margin-bottom: 3px;
    padding: 2px 12px;
    -webkit-appearance: button;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
