<ae-tabs-new [syncActions]="getSyncActions()" style = "height: 100%;">
    <ae-tab-new *ngFor = "let tab of tabsModel"
                [title] = "tab.title"
                [active] = "tab.active"
                [removable] = "true"
                (select) = "tab.active = true;forceResize();"
                (deselect) = "tab.active = false"
                (remove) = "removeTab($event)"
                style = "height: 100%;">
        <div *ngIf = "!tab.chartType">
            <div class = "tab-chart-choice">Choose Chart Type</div>
            <ul class = "tab-chart-list">
                <li (click) = "selectChart('BubbleChart')">
                    <div><img src = "./public/images/tools/bubblechart.png"><span>Bubbles</span></div>
                </li>
                <li (click) = "selectChart('BubbleMap')">
                    <div><img src = "./public/images/tools/bubblemap.png"><span>Maps</span></div>
                </li>
                <li (click) = "selectChart('MountainChart')">
                    <div><img src = "./public/images/tools/mountainchart.png"><span>Mountains</span></div>
                </li>
                <li (click) = "selectChart('BarRankChart')">
                    <div><img src = "./public/images/tools/barrankchart.png"><span>Rankings</span></div>
                </li>
                <li (click) = "selectChart('LineChart')">
                    <div><img src = "./public/images/tools/linechart.png"><span>Lines</span></div>
                </li>
            </ul>
        </div>
        <div *ngIf = "tab.chartType" style = "height: 100%">
            <div *ngFor="let alert of tab.alerts">
                <alert type="danger">
                    An error has occurred during chart processing.
                    <a href="#" (click)="alert.toggle()">Details...</a>
                    <div *ngIf="!alert.collapsed">
                        <div [innerHtml]="alert.message"></div>
                        <div [innerHtml]="alert.stack"></div>
                    </div>
                </alert>
            </div>

            <vizabi *ngIf="tab.alerts.length <= 0"
                    style = "height: 100%;"
                    (onCreated) = "chartCreated($event, tab)"
                    (onChanged) = "chartChanged($event, tab)"
                    (onClick) = "clickHandler($event)"
                    (onError)="errorHandler($event)"
                    [order] = "tab.getOrder()"
                    [readerModuleObject] = "tab.readerModuleObject"
                    [readerGetMethod] = "tab.readerGetMethod"
                    [readerParams] = "tab.readerParams"
                    [readerName] = "tab.readerName"
                    [model] = "tab.model"
                    [additionalItems] = "tab.additionalData"
                    [chartType] = "tab.chartType"></vizabi>
        </div>
    </ae-tab-new>
    <a tabs-head href style="padding: 9px; z-index: 1000" (click)="openGapminder()" alt="GAPMINDER TOOLS"><img src="./public/logo.png" width="167" height="21"></a>
    <a tabs-tail href (click) = "chartService.initTab(tabsModel);">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</ae-tabs-new>
