<div class="bookmark-popover">
  <div *ngIf="!isBookmarkConstructed || isLocked()"><img src="assets/images/hourglass.gif"></div>
  <div *ngIf="isBookmarkConstructed && !isLocked()">
    <div>{{'Rename' | translate}} <input [(ngModel)]="bookmark.name" (keyup.enter)="done()"></div>
    <div *ngIf="bookmarkFolders && bookmarkFolders.length > 0" style="margin-top: 5px;">{{'Move to folder' | translate}}
      <select [disabled]="!bookmarkFolders" (change)="onFolderChange($event)" class="form-control">
        <option value="">---</option>
        <option *ngFor="let folder of bookmarkFolders">{{folder}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="isBookmarkConstructed && !isLocked()">
    <div class="bm-footer-container">
      <div [ngClass]="{'right': ls.isRtl(), 'left': !ls.isRtl()}">
        <a href="#" (click)="remove()" class="remove-link">{{'Remove' | translate}}</a>
      </div>
      <div [ngClass]="{'right': !ls.isRtl(), 'left': ls.isRtl()}">
        <button (click)="done()">{{'Done' | translate}}</button>
      </div>
    </div>
  </div>
</div>
