<div *ngIf="requestToUpdate" style="display: inline;">
    <div class="label">New version is available!</div>
    <span>
      <input type="button" (click)="processUpdateRequest()" value="Update now" class="btn" />
    </span>
</div>
<div *ngIf="requestToDatasetUpdate && !requestToExitAndFinishUpdate" style="display: inline;">
    <div class="label">New dataset is available!</div>
    <span>
      <input type="button" (click)="processUpdateRequest()" value="Update now" class="btn" />
    </span>
</div>
<div *ngIf="requestToProgress" class="progress">
    <progressbar [max]="max"
                 type="warning"
                 class="progress-striped"
                 [value]="progress"></progressbar>
</div>
<div *ngIf="!error && requestToExitAndFinishUpdate">
    <div class="label">Press OK and wait — the app will restart automatically.</div>
    <span>
      <input type="button" (click)="processExitAndFinishUpdateRequest()" value="OK" class="btn" />
    </span>
</div>
<div *ngIf="error">
    <div class="label">Unable to process update... More info in <i>auto-update-err.log</i></div>
    <span>
      <input type="button" (click)="resetError()" value="Ok" class="btn" />
    </span>
</div>
