<div class="auto-update-container" [ngClass]="{'auto-update-container-ltr': !ls.isRtl(), 'auto-update-container-rtl': ls.isRtl()}" *ngIf="isActive()">
  <div *ngIf="!!newDatasets && !!versionDescriptor && !updating && !datasetReady && !error && !datasetError">
    <div class="label" [innerHTML]="'New datasets is available!' | translate:versionDescriptor"></div>
    <span>
      <input type="button" (click)="updateDataset()" value="{{'Update now' | translate}}" class="btn" />
      <input type="button" (click)="cancel()" value="{{'Cancel' | translate}}" class="btn btn-margin" />
    </span>
  </div>
  <div *ngIf="!!versionDescriptor && !datasetReady && !newDatasets && !updating && !error && !datasetError">
    <div class="label" [innerHTML]="'New version is available!' | translate:versionDescriptor"></div>
    <span>
      <input type="button" (click)="download()" value="{{'Update now' | translate}}" class="btn" />
      <input type="button" (click)="cancel()" value="{{'Cancel' | translate}}" class="btn btn-margin" />
    </span>
  </div>
  <div *ngIf="ready && !updating">
    <div class="label">{{'Press OK and wait — the app will restart automatically.' | translate}}</div>
    <span>
      <input type="button" (click)="update()" value="{{'OK' | translate}}" class="btn" />
    </span>
  </div>
  <div *ngIf="datasetReady && !updating">
    <div class="label">{{'Press OK and reload reset tabs.' | translate}}</div>
    <span>
      <input type="button" (click)="reload()" value="{{'OK' | translate}}" class="btn" />
    </span>
  </div>
  <div *ngIf="updating">
    <div *ngIf="!showProgress"><img src="assets/images/hourglass.gif">{{'Updating' | translate}}</div>
    <div *ngIf="showProgress">
      <div class="progress-addition">
        <progressbar [max]="max" type="warning" class="progress-striped" [value]="progress"></progressbar>
      </div>
    </div>
  </div>
  <div *ngIf="!!error">
    <div class="label">{{'Sorry, autoupdate broke, please uninstall Gapminder Offline and install the new version' | translate}}
      <a href="#" (click)="openURL('https://www.gapminder.org/tools-offline/')">{{'from here' | translate}}</a>
      <span>
      <input type="button" (click)="resetError()" value="{{'Cancel' | translate}}" class="btn btn-margin" />
    </span>
    </div>
  </div>
  <div *ngIf="!!datasetError">
    <div class="label">{{'Sorry, datasets update broke, please restart app' | translate}}</div>
    <span>
      <input type="button" (click)="cancel()" value="{{'OK' | translate}}" class="btn" />
    </span>
  </div>
</div>
