.main-popup {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.step-block {
    margin-bottom: 20px;
}
.step-label {
    font-size: large;
}
label.step-label {
    margin-left: 1px;
}
.chartType > label {
    margin-right: 15px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.footer-wrapper {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.footer-content {
    display:table-row;
}

.primary-nav, .secondary-nav {
    display:table-cell;
}

.primary-nav {
    width: 60%;
}

.secondary-nav {
    width: 40%;
}

.divider {
    border-bottom: 1px solid #e5e5e5;
    margin: 5px -15px 10px -15px;
}

.close-button {
    width: 40%;
    height: 40px;
}

.ok-button {
    width: 50%;
    height: 40px;
}